:root {
  --highlight-color: #83e67f;
}

.link {
  color: #38a335;
  text-decoration: none;
  margin-right: 5px;
}

.link:hover {
  color: var(--highlight-color);
  text-decoration: underline;
}

.link:visited {
  color: var(--highlight-color);
}

.highlighted {
  color: var(--highlight-color);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #000;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #38a335;
  border-radius: 5px;
}
