.link {
    color: #38A335;
    text-decoration: none;
    margin-right: 5px;
}

.link:hover {
    color: #38A335;
    text-decoration: underline;
}

.link:visited {
    color: #67eb62;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #000;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #38A335;
    border-radius: 5px;
}