@font-face {
    font-family: "Consolas";
    src: url("../fonts/Consolas.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: auto;
    background-color: #000;
    color: #38A335;
    font-family: Consolas, sans-serif;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
}

.talk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.talk-prevew {
    height: 150px;
    border: 5px solid #38A335
}

.talk-prevew:hover {
    border: 5px dashed #38A335
}

@media screen and (max-width: 770px) {
    .talk-prevew{
        display: none;
    }

    .talks {
        width: 550px;
    }
}

.talks {
    width: 750px;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
}

.list-of-talks li {
    margin-bottom: 30px;
}

.list-of-talks li:last-child {
    margin-bottom: 100px;
}

.list-of-talks {
    margin-left: 10px;
}

.talk-name {
    font-size: 20px;
    font-weight: 600;
    color: #67eb62;
}

.talk-description {
    margin-top: 10px;
    margin-bottom: 15px;
}

.talk-from {
    font-size: 13px;
    margin-left: 20px;
    align-self: center;
}

.talk-info {
    display: flex;
    flex-direction: row;
}

.talk-slides {
    align-self: center;
}

.date {
    color: #67eb62;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #000;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #38A335;
    border-radius: 5px;
}